.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic {
  height: 200px;
  width: 200px;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px;
}

.pexPic {
  height: 100px;
  width: 100px;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boardView {
  background-color: #eee;
  padding: 10px;
  width: 50vw;
  height: 38.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.results {
  background-color: rgba(256, 256, 256, 0.35);
  padding: 10px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
